.gradle

.idea/libraries
.idea/modules
.idea/shelf
.idea/*.xml
*.iml

build
shared/app/staging/
shared/app/release/

local.properties
.DS_Store
gradlew*
*.aab

/shared/data/src/main/graphql/ru/stream/.graphqlconfig

core/unityLibrary/src/main/Il2CppOutputProject/
core/unityLibrary/symbols/
